<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">
          <%= render "products_in_cart" %>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-md-8 mt-5 cart-wrap ftco-animate address-form">
        <div class="cart-total mb-3" style="padding: 40px;">
          <%= render "order_form" %>
        </div>
      </div>
    </div>
  </div>
</section>
