.subject{
  text-align: center;
  color: black;
}

.ul_index{
  padding-bottom: 30px;
}

.li_index{
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.index_product_name{
  color:black;
  font-size:20px
}

.index_product_nil{
  text-align: center;
}

.style-language{
  float: right;
  width: 150px;
}
