.subject{
  text-align: center;
  color: black;
}

.container_index{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 10px 0 20px 0;
}

.card-inside{
  width: 200px;
  border-radius: 10px;
}

.index_product_name{
  color:black;
  font-size:20px
}

.index_product_nil{
  text-align: center;
}

.style-language{
  float: right;
  width: 150px;
}

.nav-md{
  background-color: #F7F7F7;
}

.infor_order{
  font-size: 15px;
}

.infor_col p{
  font-weight: bold;
}

.total-order{
  margin-right: 50px;
  font-size: 20px;
}

.title-show{
  text-align: center;
  font-style: oblique;
  color: black;
}

.tr-head-show{
  color:black;
  text-align: center;
  font-size: 20px;
}

.th-head-show{
  padding-left: 30px;
  width: 10%;
}
.th-head-show-width40{
  padding-left: 30px;
  width: 40%;
}

.th-action{
  width: 10%;
}

.tr-body-show{
  font-size: 15px;
  text-align: center;
}

.td-body-show{
  padding-left: 30px
}

.td-name-body-show{
  padding-left: 30px;
  word-wrap: break-word;
}

.td-action-body-show{
  width: 90px;
}

.container-images-show{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.image-show{
  padding: 10px
}

.card-margin{
  margin-left: 10px;
}

.card-p{
  color: black;
}

.lable-form-index{
  padding-top: 5px;
  color: black;
  font-size: 20px;
}

.submit-form-index{
  font-size: 20px;
  text-align: center;
  color: black;
}

.form-new{
  display: none;
}

.title-info-order{
  font-size: 20px;
  font-weight: bold;
  color: blue;
  margin-bottom: 6px;
}
.form-update-delete{
  width: auto;
}
.images-update{
  padding: 10px
}
