/* resize icons language */
.icon-inline {
  list-style-type: none;
}

.icons-lang {
  width: 35px;
  float: right;
}

.avatar-default {
  width: 35px;
  border-radius: 50%;
}

.nav-icon {
  padding: 18px 20px;
}
