/* resize icons language */
.icon-inline {
  list-style-type: none;
}

.icons-lang {
  width: 35px;
  float: right;
}

.avatar-default {
  width: 35px;
  border-radius: 50%;
}

.nav-icon {
  padding: 18px 20px;
}

input[type=text] {
  height: 20px;
  width: 290px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 13px 10px 13px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.p-description {
  font-size: 13px;
}

#bg-color {
  background-color: rgba(0,0,0,0.6);
}

.image-order {
  height: 100px;
}

.img-prod img {
  height: 100%;
  width: 250px;
}
